#element-info {
  font-size: larger;
  font-weight: bold;
  color: blue;
}
form { 
  display: block;
  margin-top: 0em;
}
strong{
  margin-bottom: 20px;
  margin-top: 20px;

}
.input-info {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  height: 30px;
  margin-top: auto;
  width: 80%;
  }

#element-value {
  color: black;
  font-weight: 100;
}

.wrapper {
  padding: 5px;
  max-width: 960px;
  width: 95%;
  margin: 20px auto;
  margin-bottom: 10px;
}

header {
  padding: 0 15px;
  text-align: center;
  color: blue;

}


.columns {
  padding-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
}

.column {
  flex: 0.75;
  border: 1px solid gray;
  margin: 2px;
  padding: 10px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

}

.column1 {
  flex: 0.25;
  border: 1px solid gray;
  margin: 2px;
  padding: 10px;
  width: 200px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

}

footer {
  border: solid 1px;
  width: auto;
  height: auto;
}
.button-send{
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;  
}

@media screen and (max-width: 980px) {
  .columns .column {
    margin-bottom: 5px;
    flex-basis: 50%;

    &:nth-last-child(2) {
      margin-right: 0;
    }

    &:last-child {
      flex-basis: 50%;
      margin: 0;
    }
  }
}

@media screen and (max-width: 680px) {
  .columns .column {
    flex-basis: 50%;
    margin: 0 0 5px 0;
  }
}