
.app{
  background-color: #3e76be;
  height: 400px;
}::placeholder {color: #fff}

.crud {
    width: 80%;
    margin: auto;
  
    h1 {
      text-align: center;
      margin-bottom: 50px;
      text-transform: uppercase;
      color: #fff;
    }
    %outBor {border: none; outline: none;}
    form {
      width: 100%;
      input {display: inline-block; @extend %outBor; height: 39px;}
    }
    button {
      @extend %outBor;
      cursor: pointer;
      height: 39px;
      font-size: 15px;
      transition: all .2s ease-in-out;
      background-color: rgb(218, 218, 218);
    }
    > form {
      margin-bottom: 30px;
  
      input {
        padding: 10px;
        width: 70%;
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
      }
      button {
        width: 28%;
        margin-left: 2%;
        background-color: #444;
        color: #fff;
  
        &:hover {
          background-color: #222;
          color: #fff;
        }
      }
    }
   
    ul {
      li {
        list-style: none;
        margin-bottom: 15px;
        color: #333;
        font-weight: 500;
  
        > div {
          width: 100%;
          &:first-of-type {
            background-color: #eee;
            color: rgb(19, 94, 129);
  
            span {
              display: inline-block;
              width: 70%;
              padding-left: 10px;
            }
            button {
              width: 14%;
              color: #960c23;
  
              &:hover {
                background-color: #960c23;
                color: rgb(218, 218, 218);
              }
              &:not(:last-of-type) {
                margin-right: 2%;
                color: #0da056;
  
                &:hover {
                  background-color: #0da056;
                  color: rgb(218, 218, 218);
                }
              }
            }
          }
          &:last-of-type {
            background-color: rgba($color: #000000, $alpha: 0.5);
            color: #fff;
            padding: 3px;
            font-size: 14px;
            text-align: center
          }
        }
      }
      .error {
        text-align: center;
        text-shadow: 0 0 5px #333;
        color: rgb(255, 204, 204);
      }
      form {
        margin-bottom: 15px;
  
        input {
          width: 70%;
          padding: 0 10px;
          background-color: #fff;
        }
        button {
          width: 30%;
          color: #3e76be;
  
          &:hover {
            background-color: #3e76be;
            color: #fff;
          }
        }
      }
    }
  }
  