$fadeWidth: 65px;



@media (max-width: 599px) {
  .filter-bar {
    display: block;
    width: 100%;
    line-height: 2;

    &.is--toggled {
      .filter-bar__icon {
        display: inline-block;
        transform: rotate(180deg);
      }
    }
  }

  .filters {
    position: relative;
    padding: .5rem 0;

    &:not(.is--open) {
      position: relative;

      &:after,
      &:before {
        position: absolute;
        top: 0;
        z-index: 1;
        width: 30%;
        max-width: $fadeWidth;
        height: 100%;
        background-image: linear-gradient(-90deg, white, rgba(255, 255, 255, 0));
        content: '';
        pointer-events: none;
        transition: opacity .4s;
      }

      &:before {
        opacity: 0;
        left: 0;
        transform: scaleX(-1);
      }

      &:after {
        right: 0;
        opacity: 1;
      }

      &.is--scrolled {
        .filters__options {
          padding-right: 0;
        }

        &:before {
          opacity: 1;
        }

        &:after {
          opacity: 0;
        }
      }

      .filters__options {
        overflow-x: auto;
        padding: .5rem $fadeWidth .5rem 0;
        white-space: nowrap;
      }

      label {
        display: none;
      }

      .filters__set {
        display: inline-block;

        &.is--all {
          display: none;
        }
      }
    }

    &.is--open {

      .filters-container {
        display: flex;
      }

      .filters__set {
        display: flex;
        padding: .5rem 0;

        select {
          flex: 1;
        }

        label {
          min-width: 100px;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .filter-bar {
    display: none;
  }

  .filters {

    &__options {
      display: flex;
    }

    &__set {
      flex: 1;
      padding: 0 .5rem;

      label,
      select {
        display: block;
        width: 100%;
      }

      label {
        padding-bottom: .25rem;
        text-transform: uppercase;
      }
    }
  }
}

input,
select {
  font: inherit;
  color: inherit;
}

select {
  font-family: Helvetica, Arial, sans-serif;
}